<section id="aboutUs">
  <h1>About us</h1>
  <div class="aboutUs__box">
    <div class="aboutUs__info" data-aos="fade-right" >
      <div>
        <div class="aboutUs__admin">
          <h3>Álvaro Valladares</h3>
          <p>Tech enthusiast, early adopter and embracer of the change. Software Solution Architect, experienced in designing complex software & integration architectures, working with blockchain technology for the last 6 years.
          </p>
        </div>
      </div>
      <div class="aboutUs__image">
        <img src="../../../../../assets/Img/guy1.jpg">
      </div>
    </div>

    <div class="aboutUs__info" data-aos="fade-left" >
      <div>
        <div class="aboutUs__admin">
          <h3>Adrián Valladares</h3>
          <p>Tech enthusiast, early adopter and embracer of the change. Software Solution Architect, experienced in designing complex software & integration architectures, working with blockchain technology for the last 6 years.
          </p>
        </div>
      </div>
      <div class="aboutUs__image">
        <img src="../../../../../assets/Img/guy1.jpg">
      </div>
    </div>
    <div class="aboutUs__info" data-aos="fade-right" >
      <div>
        <div class="aboutUs__admin">
          <h3>Alba Gutiérrez</h3>
          <p>Tech enthusiast, early adopter and embracer of the change. Software Solution Architect, experienced in designing complex software & integration architectures, working with blockchain technology for the last 6 years.
          </p>
        </div>
      </div>
      <div class="aboutUs__image">
        <img src="../../../../../assets/Img/guy1.jpg">
      </div>
    </div>
  </div>
</section>
