<section id="aboutUs">
  <h1>About us</h1>
  <div class="aboutUs__box">
    <div class="aboutUs__info" data-aos="fade-right" >
      <div>
        <div class="aboutUs__admin">
          <h3>Álvaro Valladares</h3>
          <p>Tech enthusiast, early adopter and embracer of the change. Software Solution Architect, experienced in designing complex software &
            integration architectures, working with blockchain technology for the last 6 years.
          </p>
        </div>
      </div>
      <div class="aboutUs__image">
        <img src="../../../../../assets/Img/guy1.jpg" alt="Álvaro">
      </div>
    </div>

    <div class="aboutUs__info" data-aos="fade-left" >
      <div>
        <div class="aboutUs__admin">
          <h3>Adrián Valladares</h3>
          <p>
            Strong know-how in modern software development. Experience with JS (Node.js, Angular, Vue), Python, C# and with AWS Cloud development.
             AWS Certified Developer, Security and Solutions Architect.
          </p>
        </div>
      </div>
      <div class="aboutUs__image">
        <img src="../../../../../assets/Img/guy1.jpg" alt="Adrián">
      </div>
    </div>

    <div class="aboutUs__info" data-aos="fade-right" >
      <div>
        <div class="aboutUs__admin">
          <h3>Alba Gutiérrez</h3>
          <p>
            Marketing and Business Growth Hacking with background in both Business to Business and Business to Consumer markets.
            Active in the blockchain and cybersecurity space since early 2017. Striving for progress, not perfection.
          </p>
        </div>
      </div>
      <div class="aboutUs__image">
        <img src="../../../../../assets/Img/guy1.jpg" alt="Alba">
      </div>
    </div>
  </div>
</section>
