<section id="dashboard__box">
  <div class="dashboard_data">
    <h2 class="dashboard__title">Networks</h2>

    <div class="search__filter">
      <input
      type="text"
      placeholder="Search..."
      [(ngModel)]="filterTerm"
      autocomplete="off"
      (ngModelChange)="filterCoinByName(filterTerm)"
      (mouseover)="filterListClass(true)"
      />
      <div [class]="[filterList,fadeFilter]" >
        <div *ngFor="let coin of coinFound" >
          <p>{{coin.name}}</p>
          <button type="button" (click)="addCoinToList(coin, 'user')">+</button>
        </div>
      </div>
    </div>
    <div  *ngIf="user | async then userBlock else dashBlock"></div>

      <ng-template #userBlock>
        <div class="company__section">
          <div class="company__info" *ngFor="let coin of user._value.list ">
            <div class="company__info-logo">
              <img src={{coin.logo}}/>
            </div>
            <div class="company__data">
              <a class="company__data-link" routerLink="/detail/{{coin.id}}">
                <h4>{{coin.name}}</h4>
                <span>Network</span>
                <span [style.color]="+coin.average > 16 ? 'green' : +coin.average > 6 ? 'orange' : 'red'" >
                  {{!coin.average ? 12 : coin.average}}%
                </span>
              </a>
              <button  class="company__logo" type="button" >
                <img src="https://img.icons8.com/nolan/96/cancel.png"/>
              </button>
            </div>
            <div>
              <button class="company__logo" type="button" (click)="deleteCoin(coin._id,id)">
                <img src="https://img.icons8.com/nolan/96/cancel.png"/>
              </button>
            </div>
          </div>
        </div>
      </ng-template>

      <ng-template #dashBlock>
        <div [class]="[filterList,fadeFilter]">
          <div *ngFor="let coin of coinFound">
            <p>{{coin.name}}</p>
            <button type="button" (click)="addCoinToList(coin, 'web')">+</button>
          </div>
        </div>
        <div class="company__section">
          <div class="company__info"
            *ngFor="let coin of listCoins | paginate:config">
            <div class="company__info-logo">
              <img src={{coin.logo}}/>
            </div>
            <div class="company__data">
              <a class="company__data-link" routerLink="/detail/{{coin.id}}">
                <h4>{{coin.name}}</h4>
                <span>Network</span>
                <span [style.color]="+coin.average > 16 ? 'green' : +coin.average > 6 ? 'orange' : 'red'" >
                  {{!coin.average ? 12 : coin.average}}%
                </span>
              </a>
            </div>
          </div>
          <pagination-controls (pageChange)="loadPage($event)"></pagination-controls>
        </div>
      </ng-template>

    </div>
  <img alt="networks" class="dashboard__background" src="../../../../assets//Img//Networks.jpg">
</section>
