<section id="dashboard__box">
  <div>
    <h2>Networks</h2>
    <div class="company__section">

      <div class="company__info" *ngFor="let coin of coins">
        <div class="company__info-logo">
          <img src={{coin.logo}}/>
        </div>
        <div class="company__info-data">
          <h4>{{coin.name}}</h4>
          <span>Network</span>
          <span>{{coin.average}}%</span>
          <button  class="company__logo" type="button">
            <img src="https://img.icons8.com/nolan/96/cancel.png"/>
          </button>
        </div>
        <div>
          <button  class="company__logo" type="button">
            <img src="https://img.icons8.com/nolan/96/cancel.png"/>
          </button>
        </div>
      </div>

    </div>
  </div>
  <img alt="networks" class="dashboard__background" src="../../../../assets//Img//Networks.jpg">
</section>
