#dashboard__box{
  display:flex;
  color:black;
  height:calc(100vh - 90px);

  .dashboard__title{
    display:flex;
    justify-content:center;
    padding: 40px 20px 25px;
    font-size:30px;
    border-bottom: 2px dotted  black;
    margin:0 80px;
  }

  .search__filter{
    display:flex;
    align-items: center;
    flex-direction:column;
    padding-top: 20px;
    position:relative;

    input{
      width: 150px;
      transition: width 0.5s;
    }
    input:focus{
      width: 360px;
    }

    .filter__list{
      display:flex;
      flex-direction:column;
      border:2px solid gray;
      border-bottom-left-radius:15px;
      border-bottom-right-radius:15px;
      position:absolute;
      background-color:white;
      margin-top:20px;

      div{
        display:flex;
        justify-content: space-between;
        width:340px;
        padding: 3px 10px;
      }
      div:hover{
        background-color: #00d9a1;
        border: 2px solid #950aff;
        border-radius: 10px;
      }
      button{
        width:25px;
        height:100%;
        font-size:15px;
        cursor: pointer;
      }
    }

    .filter__list-fade{
      display:none;
    }
  }

  .company__section{
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    margin-top:60px;
    width:60vw;

    .company__info{
      display:flex;
      flex-direction:row;
      align-items: center;
      margin-bottom: 2em;
      .company__info-logo{
        display:flex;
        justify-content: center;
        align-items: center;
        width:65px;
        height:65px;
        border-radius:50%;
        border:4px outset #00d9a1;
        position:absolute;
        z-index: 18;
        background-color:white;
        img{
          width:60%;
          height:60%;
        }
      }
      .company__data{
        display:flex;
        margin-left:50px;
        padding:0 20px 0 80px;
        height:40px;
        border:5px outset #00d9a1;
        border-radius:0 80px 80px 0;
        width: 25em;
        & .company__logo{
          display:none;
        }
        & span:nth-child(2){
         font-size:18px;
        }
        & span:nth-child(3){
          font-weight: bold;
        }
        .company__data-link{
          display:flex;
          justify-content: space-between;
          align-items: center;
          width:100%;
          cursor: pointer;
          h4{
            font-size: 1.3em;
            width:160px;
          }
        }
      }
      .company__logo{
        border:none;
        background-color:transparent;
        outline:none;
        cursor:pointer;
        img{
          height:40px;
          width:40px;
        }
      }
    }
  }
}

@media screen and (max-width:1120px){
  .company__section{
    width:100vw !important;
  }
  .dashboard__background{
    position:absolute;
    height:100vh;

    opacity:20%;
    z-index: -1;
  }
}

@media screen and (max-width:830px){

  .company__data{
    padding-left:30px !important;
  }
  .company__data{
    width:300px !important;

    & .company__logo{
      display:flex !important;
    }

    & span:nth-child(2){
      display:none;
    }

    & span:nth-child(3){
      font-size:20px;
      margin-right: 40px;
    }
  }

  .company__logo{
    display:none;
  }
}


