#homepage__box{
  display:flex;
  align-items:center;
  height:100vh;
  width:100vw;
  background-image:url('../../../../assets//Img//blockchain.jpg');
  background-size: cover;

  .homepage__titles{
    position: absolute;
    width: 750px;
    margin-left:10%;

    svg{
      position:absolute;
      height: 430px;
      stroke-dasharray: 600;
      stroke-width: 3px;
      transition: all .8s ease-in-out;
    }

    .homepage__titles-inside{
      margin:5% 13% 5% 6%;
      padding:15px;
      background-color: rgba(7, 7, 7, 0.404);
      letter-spacing: 5px;
      border-radius: 30px;
      width:75%;

      h1{
        font-size:19px;
        line-height: 180%;
        margin-bottom:6%;
      }

      h4{
        font-size:13px;
        line-height: 28px;
        margin-bottom: 20px;
        text-align:justify;
      }
    }
  }

   ng-particles{
    width:100vw;
    height: 100vh;
  }
}

@media only screen and (max-width:900px){
  .homepage__titles{
    display:flex;
    align-items:center;
    width:600px ;
  }

  .homepage__titles-inside{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
    width:50% !important;
    height:450px;
    margin: 0 !important ;
    border-top-right-radius: 35% !important;
    border-bottom-left-radius: 35% !important;

    h1{
      font-size:17px !important;
    }
    h4{
      font-size:11px !important;
    }
  }

  svg{
    display:none;
  }
}




