*{
  margin:0;
  padding:0;
}

body{
  max-width: 420px;
  min-width: 300px;
  font-family:'Orbitron', sans-serif;
  color:white;
  letter-spacing: 2px;
}

@media only screen and (min-width: 421px){
  body{
    width:100vw;
  }
}
