
#services__box{
  display:flex;
  align-items:center;
  background-image: url('../../../../../assets//Img//services-bg.jpg');
  background-size:cover;
  height:100vh;
  width:100vw;
  color:black;

  svg{
    width:50px;
    height:50px;
  }
  .cube-decorator{
    width:400px;
    height:400px;
    margin-left: 260px;
  }
  .services__category{
    display:flex;
    flex-direction:column;
    align-items: center;
    margin-left: 25px;
    text-align:justify;
    margin-top:30px;

    h3{
      width:60%;
      text-align:center;
      color:#950aff;
      font-size:25px;
      border-bottom: 2px solid #00d9a1;
    }
    .services__category-info{
      display:flex;
      flex-direction:column;
      justify-content: center;
      align-items: center;
      font-size:11px;
      width:600px;
      margin-top:10px;

      h4, p{
        margin-top:8px;
      }

    }
  }

}
