
#login__box{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  position:fixed;
  width:100vw;
  height:100vh;
  z-index:21;
  // background: white;
  background-image:url('../../../../assets/Img/prueba5.jpg');
  background-size:100%;
  color:white;

  .login__header{
    background-size:cover;
    width:30%;
    height:200px;
    border-top-left-radius: 30px;
    border-top-right-radius:30px;
  }
  .login__form-box{
    display:flex;
    flex-direction:column;
    align-items:center;
    background-image:url('../../../../assets//Img/login-bg.svg');
    background-size:cover;
    width: 40%;
    height:90%;
    z-index:22;

    .login__form{
      display:flex;
      align-items:center;
      justify-content: center;
      flex-direction:column;
      margin-top:250px;

      label{
        display:flex;
        flex-direction:column;
        width:250px;
        padding-bottom:15px;
      }
      .login__data{
        width:100%;
        padding-left:15px;
        margin-bottom: 20px;
        border-radius: 15px;
        outline:none;
        background:transparent;
        color:white;

        &:focus{
          border: 2px solid white;
        }
      }

      .login__signin{
        margin-top:30px;
        margin-left:10%;
        width:60%;
        border-radius:30px;
        outline:none;
        font-weight:bolder;
        height: 30px;
        cursor:pointer;

        &:hover{
          background-color:#00d9a1;
          color:white;
        }
      }
    }
    .login__cancel{
      display:flex;
      justify-content:center;
      align-items:center;
      width:250px;
      padding-left:25px;

      .login__cancel-btn{
        width:145px;
        height:30px;
        border-radius:30px;
        background-color: white;
        color:black;
        outline:none;
        cursor:pointer;
        margin-top: 25px;
        font-weight:bolder;

        &:hover{
          background:#950AAF;
          color:white;
        }
      }
    }

  }

}
